.bids-form {
    width: 900px;
    margin: 0 auto;
}
.bids-panel {
    width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
.bid {
    width: 800px;
    margin: auto;
    // .input-group{
    //     width: 300px;
    // }
}

.submit-btn {
    .btn { margin-top: 25px !important };
    div { margin-top: 25px !important; text-align: center; padding: 5px; }
}
.auction-finished {
    font-size: 40px;
    text-align: center;
}